/*
!.gitignore
!/"Assignment 1"/code(4)/code/*.java
!/"Assignment 1"/code(4)/code/*.txt
!/"Assignment 3"/code/*.java
!/"Assignment 3"/code/*.txt
!/"Assignment 5"/code/*.java
!/"Assignment 5"/code/*.txt